<?xml version="1.0" encoding="UTF-8"?>

<settings>
	<localRepository>d:/repositories/maven</localRepository>
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
	</pluginGroups>

	<proxies>
	</proxies>

	<servers>
		<server>
			<id>snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>thirdparty</id>
			<username>admin</username>
			<password>admin123</password>
		</server>

	</servers>

	<mirrors>
		<mirror>
			<id>gome</id>
			<name>gome</name>
			<url>http://maven.ds.gome.com.cn/nexus/content/groups/public</url>
			<mirrorOf>central</mirrorOf>
		</mirror> 
<!-- 
		<mirror>
			<id>central_mirror</id>
			<name>internal central_mirror epository</name>
			<url>http://maven.aliyun.com/nexus/content/repositories/central/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>-->
	</mirrors>

	<profiles>
		<profile>
			<id>gomePublicProfile</id>
			<repositories>
				<repository>
					<id>nexus</id>
					<name>local private nexus</name>
					<url>http://maven.ds.gome.com.cn/nexus/content/groups/public</url>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>nexus</id>
					<name>Maven China Mirror</name>
					<url>http://maven.ds.gome.com.cn/nexus/content/groups/public</url>
				</pluginRepository>
			</pluginRepositories>

		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>gomePublicProfile</activeProfile>
	</activeProfiles>

</settings>

